/* Spectral Regular */
@font-face {
    font-family: "Spectral";
    src: url("Spectral-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Spectral Italic */
@font-face {
    font-family: "Spectral";
    src: url("Spectral-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Spectral Bold */
@font-face {
    font-family: "Spectral";
    src: url("Spectral-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Spectral Bold Italic */
@font-face {
    font-family: "Spectral";
    src: url("Spectral-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Spectral ExtraLight */
@font-face {
    font-family: "Spectral";
    src: url("Spectral-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Spectral ExtraLight Italic */
@font-face {
    font-family: "Spectral";
    src: url("Spectral-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Spectral Light */
@font-face {
    font-family: "Spectral";
    src: url("Spectral-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Spectral Light Italic*/
@font-face {
    font-family: "Spectral";
    src: url("Spectral-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Spectral Medium */
@font-face {
    font-family: "Spectral";
    src: url("Spectral-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Spectral Medium Italic*/
@font-face {
    font-family: "Spectral";
    src: url("Spectral-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Spectral SemiBold */
@font-face {
    font-family: "Spectral";
    src: url("Spectral-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Spectral SemiBold Italic */
@font-face {
    font-family: "Spectral";
    src: url("Spectral-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Spectral ExtraBold */
@font-face {
    font-family: "Spectral";
    src: url("./Spectral/Spectral-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Spectral ExtraBold Italic*/
@font-face {
    font-family: "Spectral";
    src: url("Spectral-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
/* Добавьте остальные начертания по аналогии (Italic-версии) */
